.formLetter{/*disposition des elements dans le formulaire*/
    display: flex;
    align-items: center;
    flex-direction: column;
}
fieldset {
    margin: 1%;
    border: 2px solid #afcfd9 ;
    border-radius: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 75vw;
}
/*ici, on définit la taille des différents éléments du formulaire*/
.formLetter #genre,#prenom,#nom,#username,#courriel,#mdp,#start,#conditions{
    margin-top: 3%;
}
.formLetter #prenom,#nom,#username,#courriel,#mdp{
    height: 7vw;
    width: 100%
}
.formLetter #start{
    width: 45%;
}
.background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.signupbtn {/*style du bouton*/
    background-color:black;
    color: white;
    padding: 0.4vh;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
}
.signupbtn:active {
    opacity: 0.5;
    color: white;
}
.btn{ /*disposition des éléments dans la partie bouton (pour connexion.html)*/
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
}

.inscbtn {/*style du bouton*/
    background-color:white;
    color: black;
    padding: 0.4vh;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
}

.biere{ /*taille du gif animé bière*/
    width: auto;
    height: 7vh;
}

.erreur-pseudo{
    text-align: center;
    color: red;
    display: none; /*par défaut, le message d'erreur est invisible*/
}

.erreur-email{
    text-align: center;
    color: red;
    display: none; /*par défaut, le message d'erreur est invisible*/
}

.erreur{
    text-align: center;
    color: red;
    display: none; /*par défaut, le message d'erreur est invisible*/
}

.succes{
    text-align: center;
    color: green;
    display: none; /*par défaut, le message de succès est invisible*/
}

.datenaissance{
    display: flex;
    align-items: center;
}

#start_n{
    width: 39%;
}

.cocktailnews{
    height: 7vh;
    width: auto;
    margin-left: auto;
}

@media only screen and (600px<=width) {
    /*tablette*/
    fieldset{
        padding-left: 3vw;
        padding-right: 3vw;
        width: 30vw;
    }
    .biere{ /*taille du gif animé bière*/
        width: auto;
        height: 7vh;
    }

    /*ici, on définit la taille des différents éléments du formulaire*/
    .formLetter #prenom,#nom,#username,#courriel,#mdp,#start{
        height: 2vw;
    }
    .btn {/*style du bouton*/
        margin: 2%;
    }
}