.formLetter{/*disposition des elements dans le formulaire*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
}

fieldset{
    padding: 1%;
    margin: 1%;
    border: 2px solid #afcfd9 ;
    border-radius: 10px;
    padding: 1vw;
}
/*ici, on définit la taille des différents éléments du formulaire*/
.formLetter #prenom,#nom,#courriel,#start,#start{
    height: 4vw;
}
.formLetter #prenom,#nom{
    width: 40vw;
}
.formLetter #courriel{
    width: 50vw;
}
.formLetter #start{
    width: 30vw;
}
.signupbtn {/*style du bouton*/
    background-color:black;
    color: white;
    padding: 0.4vh;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
}
.signupbtn:active {
    opacity: 0.5;
    color: white;
}
.formLetter > label{
    position: relative;
    left: 35%;
}
.background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.btn{ /*disposition des éléments dans la partie bouton (pour connexion.html)*/
    display: flex;
    justify-content: space-evenly;
}

.inscbtn {/*style du bouton*/
    background-color:white;
    color: black;
    padding: 0.4vh;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
}

.biere{ /*taille du gif animé bière*/
    width: auto;
    height: 5vh;
}

.erreur-pseudo{
    text-align: center;
    color: red;
    display: none; /*par défaut, le message d'erreur est invisible*/
}

.erreur-email{
    text-align: center;
    color: red;
    display: none; /*par défaut, le message d'erreur est invisible*/
}

@media only screen and (600px<=width) {
    /*tablette*/
    /*création de l'animation sous les liens de nav*/
    .biere{ /*taille du gif animé bière*/
        width: auto;
        height: 7vh;
    }

    /*ici, on définit la taille des différents éléments du formulaire*/
    .formLetter #prenom,#nom,#courriel,#start,#start{
        height: 2vw;
    }
    .formLetter #prenom,#nom{
        width: 10vw;
    }
    .formLetter #courriel{
        width: 15vw;
    }
    .formLetter #start{
        width: 7vw;
    }
}

@media only screen and (768px<=width) {
    /*ordinateur*/
}